body {
    background-color: #222;
    color: #888
}

*:focus {
    outline: none;
}

.carousel .slide {
    background: transparent !important;
}

.btn {
    background-color: transparent;
    border: none;
    width: 100%;
}

.widget-climate .values {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    color: #FFF;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.widget-climate .value + .value {
    padding-left: 18px;
}

.widget-climate .value.humidity {
    font-size: 24px;
}

.widget-climate .value.temperature .units {
    font-size: 18px;
    vertical-align: super;
}

.widget-climate .value.humidity .units {
    font-size: 12px;
    vertical-align: super;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: #222;
}

.modal-color-picker:focus {
    outline: none;
}

.modal-color-picker {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 506px;
    margin-left: -254px;
    margin-top: -132px;
    padding: 10px 0 10px 10px;
    background-color: #222;
    box-sizing: border-box;
}

.modal-color-picker .hue-picker {
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 4px;
}

.widget .rc-slider-rail {
    background-color: #888;
}

.widget .rc-slider-track {
    background-color: #FFF;
}

.widget .rc-slider-handle {
    border-color: #888;
}
